/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-axistaylor-guten-swiper  {
  display: block;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
